:root {
  --frame-carousel-gap: 1rem;
  --frame-carousel-item-size: 100%;
  --frame-carousel-control-offset: -3rem;
  --frame-carousel-control-size: 2.5rem;
  --frame-carousel-viewport-radius: var(--frame-radius-lg);
}
