.frame-button-group,
[frButtonGroup],
frame-button-group {
  display: inline-flex;
  align-items: stretch;
  width: 100%;
}

.frame-button-group[data-orientation='vertical'],
[frButtonGroup][data-orientation='vertical'],
frame-button-group[data-orientation='vertical'] {
  flex-direction: column;
}

.frame-button-group[data-orientation='horizontal'] > * + *,
[frButtonGroup][data-orientation='horizontal'] > * + *,
frame-button-group[data-orientation='horizontal'] > * + * {
  margin-inline-start: -1px;
}

.frame-button-group[data-orientation='vertical'] > * + *,
[frButtonGroup][data-orientation='vertical'] > * + *,
frame-button-group[data-orientation='vertical'] > * + * {
  margin-block-start: -1px;
}

.frame-button-group[data-orientation='horizontal'] > :first-child,
[frButtonGroup][data-orientation='horizontal'] > :first-child,
frame-button-group[data-orientation='horizontal'] > :first-child {
  border-start-end-radius: 0;
  border-end-end-radius: 0;
}

.frame-button-group[data-orientation='horizontal'] > :last-child,
[frButtonGroup][data-orientation='horizontal'] > :last-child,
frame-button-group[data-orientation='horizontal'] > :last-child {
  border-start-start-radius: 0;
  border-end-start-radius: 0;
}

.frame-button-group[data-orientation='horizontal'] > :not(:first-child):not(:last-child),
[frButtonGroup][data-orientation='horizontal'] > :not(:first-child):not(:last-child),
frame-button-group[data-orientation='horizontal'] > :not(:first-child):not(:last-child) {
  border-radius: 0;
}

.frame-button-group[data-orientation='vertical'] > :first-child,
[frButtonGroup][data-orientation='vertical'] > :first-child,
frame-button-group[data-orientation='vertical'] > :first-child {
  border-end-start-radius: 0;
  border-end-end-radius: 0;
}

.frame-button-group[data-orientation='vertical'] > :last-child,
[frButtonGroup][data-orientation='vertical'] > :last-child,
frame-button-group[data-orientation='vertical'] > :last-child {
  border-start-start-radius: 0;
  border-start-end-radius: 0;
}

.frame-button-group[data-orientation='vertical'] > :not(:first-child):not(:last-child),
[frButtonGroup][data-orientation='vertical'] > :not(:first-child):not(:last-child),
frame-button-group[data-orientation='vertical'] > :not(:first-child):not(:last-child) {
  border-radius: 0;
}

.frame-button-group > * {
  position: relative;
}
